* {
    padding: 0;
    margin: 0;
    font-family: delius;
}

body {
    min-height: 100vh;
  }

@font-face {
    font-family: delius;
    src: url("../assets/fonts/delius.ttf");
}

$color1: #F8EA8C;
$color2: #A4E8E0;
$color3: #4CD7D0;
$color4: #E1C340;

@mixin size($a, $b) {
    width: $a;
    height: $b;
}

.main-base {
    min-height: calc(100vh - 6rem);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/img/background.png");
    background-repeat: repeat;
    background-size: contain;
}

.back-home {
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-weight: bold;
    font-size: 1rem !important;
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 7rem !important;
}