.select-difficulty {
    @extend .main-base;
    flex-flow: column nowrap;
    position: relative;
    button {
        cursor: pointer;
        border: none;
        border-radius: 1rem;
        padding: 1rem;
        margin: 1rem;
        align-items: center;
        justify-content: center;
        color: #000000;
        font-weight: bold;
        font-size: 1.4rem;
        @include size(8rem, 4rem);
    }
}

.easy-button {
    background-color: greenyellow;
}

.normal-button {
    background-color: yellow;
}

.hard-button {
    background-color: red;
}